html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.3;
    overflow-x: hidden;
    font-family: 'Spartan', sans-serif;

    &.noscroll {
        overflow: hidden;
    }
}

a {
    text-decoration: none;
}

picture {
    line-height: 0;
}

.hide-for-desktop {
    display: block;

    @include breakpoint-up(large) {
        display: none;
    }
}

.hide-for-mobile {
    display: none;

    @include breakpoint-up(large) {
        display: block;
    }
}