.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    nav {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 3.2rem 3.7rem;
    }

    &__logo {
        margin-top: 7px;
        margin-right: 3.3rem;

        img {
            width: 58px;
        }
    }

    &__links {
        a {
            color: $white;
            font-size: 11px;
            text-transform: lowercase;
            position: relative;

            &:not(:last-child) {
                margin-right: 1.85rem;
            }

            &::before {
                content: "";
                display: block;
                position: absolute;
                height: 2px;
                left: 0;
                right: 0;
                bottom: -10px;
                background: $white;
                opacity: 0;
                transition: opacity 300ms ease-in-out;
                width: 70%;
                margin: auto;
            }

            &:hover {
                &::before {
                    opacity: 1;
                }
            }
        }
    }
}